<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "GlenJarvis.com" %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App_Name" %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Glen Jarvis, LLC</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#about">About</a></li>
          </ul>
          <form action="/static_pages/search_results"
                class="navbar-form pull-right"
                id="search_form">
            <input name='q' class="span3" type="search" placeholder="Search..." />
                   <!-- onchange="document.getElementById('search_form').submit();" -->
            <div>
              <input type="hidden"
                     name="cx"
                     value="partner-pub-2648941248992936:vvaqvh-2jy7" />
              <input type="hidden"
                     name="cof"
                     value="FORID:10" />
              <input type="hidden"
                     name="ie"
                     value="UTF-8" />
            </div><!-- end search div -->
          </form>
          <script type="text/javascript"
                  src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en">
          </script>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
            <%= yield %>
  </div>
  <div class="container">
    <hr>

    <footer>
    <aside>
      <a href="https://github.com/glenjarvis/"><%= image_tag("github.png") %></a>
      <a href="docs/jarvis_resume.pdf"><%= image_tag("resume.png") %></a>
      <a href="http://www.linkedin.com/in/glenjarvis"><%= image_tag("linkedin.png") %></a>

      <p>&copy; 2010-2013 Glen Jarvis, LLC. All Rights Reserved.</p>
    </aside>
    </footer>
  </div>

  <script>
  $(function() {
      // setup ul.tabs to work as tabs for each div directly under div.panes
      $("ul.tabs").tabs("div.panes > section",
      {
      effect: 'fade',
      fadeOutSpeed: "slow",
      });
  });
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5292622-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!--script src="../assets/js/jquery.js"></script-->
  <!--script src="../assets/js/bootstrap-transition.js"></script-->
  <!--script src="../assets/js/bootstrap-alert.js"></script-->
  <!--script src="../assets/js/bootstrap-modal.js"></script-->
  <!--script src="../assets/js/bootstrap-dropdown.js"></script-->
  <!--script src="../assets/js/bootstrap-scrollspy.js"></script-->
  <!--script src="../assets/js/bootstrap-tab.js"></script-->
  <!--script src="../assets/js/bootstrap-tooltip.js"></script-->
  <!--script src="../assets/js/bootstrap-popover.js"></script-->
  <!--script src="../assets/js/bootstrap-button.js"></script-->
  <!--script src="../assets/js/bootstrap-collapse.js"></script-->
  <!--script src="../assets/js/bootstrap-carousel.js"></script-->
  <!--script src="../assets/js/bootstrap-typeahead.js"></script-->
</body>
</html>
